:root {
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  color-scheme: light dark;
  font-size: 12px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #ccc;
  transition: background-color 0.3s, color 0.3s;
}

.dark-bg {
  background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  line-height: 1.1;
}